<!-- Footer frame -->
<footer class="container-fluid">
	<div class="footer-package col-md-3 col-sm-0-max">
		
	</div>
    <div class="footer-package col-md-6 col-sm-12">
    	<div class="row site-info">
    		<nav class="nav">
	            <ul class="nav navbar-link navbar-nav">
	            	<li class="footer-logo">
	            		<a href="/">
				            <div class="">
				                <b><i class="php">PHP</i><span class="ci">Angular</span></b>
				            </div>
				        </a>
	            	</li>
	                <li><a href="#">About</a></li>
	                <li><a href="#">Policy</a></li>
	                <li><a href="#">Contact</a></li>
	                <li><a href="#">Sitemap</a></li>
	            </ul>
	        </nav>
    	</div>
    	<hr class="row">
    	<div class="row copy-right container-fluid">
			<p>2015 PhpAngular.com</p>
		</div>
    </div>
    <div class="footer-package col-md-3 col-sm-0-max">
    </div>
</footer>