<div class="auth-page">
	<div class="col-md-2 col-xs-0-max"></div>
    <div class="col-md-8 col-xs-12">
    	<div class="user-detail-express">
    		<div class="user-express-header">
    			<i class="fa fa-user"></i> Profile
    		</div>
    		<div class="user-express-body">
                <div class="user-menu-actions col-md-3 non-padding">
                    <ul class="nav nav-stacked">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">Profile</a></li>
                        <li role="presentation"><a href="#">Messages</a></li>
                    </ul>
                </div>
                <div class="user-detail-actions col-md-9 non-padding">
                    <div class="user-detail-section">
                        <div class="user-section-title user-detail-line">Basic Info</div>
                        <div class="user-section-list">
                            <div class="user-section-info user-detail-line">
                                <div class="user-info-label col-md-4 non-padding">Birthday</div>
                                <div class="user-info-content col-md-8 non-padding">03/06/1990</div>
                            </div>
                            <div class="user-section-info user-detail-line">
                                <div class="user-info-label col-md-4 non-padding">Full Name</div>
                                <div class="user-info-content col-md-8 non-padding">Hoang Duc Tho</div>
                            </div>
                            <div class="user-section-info user-detail-line">
                                <div class="user-info-label col-md-4 non-padding">Gender</div>
                                <div class="user-info-content col-md-8 non-padding">Male</div>
                            </div>
                        </div>
                    </div>
                    <div class="space space-2x"></div>
                    <div class="user-detail-section">
                        <div class="user-section-title user-detail-line">Contact Info</div>
                        <div class="user-section-list">
                            <div class="user-section-info user-detail-line">
                                <div class="user-info-label col-md-4 non-padding">Phone</div>
                                <div class="user-info-content col-md-8 non-padding">0973517457</div>
                            </div>
                            <div class="user-section-info user-detail-line">
                                <div class="user-info-label col-md-4 non-padding">E-mail</div>
                                <div class="user-info-content col-md-8 non-padding">hoangductho.3690@gmail.com</div>
                            </div>
                            <div class="user-section-info user-detail-line">
                                <div class="user-info-label col-md-4 non-padding">Skype</div>
                                <div class="user-info-content col-md-8 non-padding">hoangductho.3690</div>
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
    </div>
    <div class="col-md-2 col-xs-0-max"></div>
</div>