<div class="create-article-form">
	<div class='form-label'>Create New Article</div>
	<hr>
	<div class='form-section'>
		<div class='section-label'>Title</div>
		<div class='section-input'>
			<input class='form-control' type='text' name='title'/>
		</div>
	</div>
	<div class='form-section'>
		<div class='section-label'>Description</div>
		<div class='section-input'>
			<textarea class='form-control noresize' name='description' rows="3"></textarea>
		</div>
	</div>
	<hr>
	<div class='form-section'>
		<div class='section-label'>Thumb</div>
		<div class='section-input'>
			<section crop-image options="options"></section>
		</div>
	</div>
	<hr>
	<div class='form-section'>
		<div class='section-label'>Content</div>
		<div class='section-input'>
			<markdown-safe suffix="content"></markdown-safe>
		</div>
	</div>
	<hr>
	<div class='form-section'>
		<div class='section-label'>Tags</div>
		<div class='section-input'>
			<input class='form-control' type='text' name='tags'/>
		</div>
	</div>
</div>