//auth pages style
.auth-page {
	position: absolute;
	height: 100%;
	width: 100%;
	display: table;
}

.auth-box {
	display: table-cell;
	height: 100%;
	float: none;
	vertical-align: top;
	text-align: center;
}

.auth-header {
	font-family: 'Times New Roman';

	label {
		color: $text-opacity;
	}
}

.auth-action {
	width: 300px;
	padding: $standard-space;
	border: 1px solid $border-color;
	display: inline-block;

	.action-header {
		$size: 100px;
		@include circle-box($size);
		margin: 0 auto;
		overflow: hidden;
	}

	img {
		width: 100%;
		height: 100%;
		margin-top:$standard-space;
	}

	label {
		color: $text-opacity
	}

	input.invalid,
	input.invalid:focus {
		border-color: $ci-color;
		box-shadow: none
		// box-shadow: inset 0 1px 1px $ci-color, 0 0 8px $ci-color;
	}

	.success {
		color: yellowgreen;
	}

	.fasle {
		color: $ci-color;
	}
}

.auth-footer {
	margin-top: $standard-space;
}