<div class='auth-page'>
	<div class='auth-box'>
		<div class='auth-header'>
			<h2><b><i class="php">PHP</i><span class="ci">Angular</span></b></h2>
			<label><h3>Sign in to continue to PhpAngular Control</h3></label>
			<br>
		</div>
		<div class='auth-action'>
			<div class='action-header'>
				<img src='images/user.png'/>
			</div>
			<form class='action-form'>
				<label><h2>User</h2></label>
				<div class='form-section'>
					<input type='email' name='email' class='form-control' placeholder='Your e-mail'>
				</div>
				<div class='form-section'>
					<input type='password' name='password' class='form-control' placeholder='Enter password'>
				</div>
				<div class='form-section'>
					<input type='submit' class='form-control btn-info' value='Login'>
				</div>
			</form>
			<div class='action-footer'>
				<p><a href="#" class='btn-link pull-right'>Need help?</a></p>
			</div>
		</div>
		<div class='auth-footer '>
			<div class=''><p><a href="#" class='btn-link'>Create account</a></p></div>
		</div>
	</div>
</div>